.entire{
   background-color: rgb(1, 117, 121); 
   color: azure;
   justify-content:center;
   padding: 50px;
   width: 250px;
   /* margin: auto; */
   position: fixed;
   top: 25%;
   left: 36%;
   border: 2px black solid;
   border-radius: 25px;
   box-shadow: 10px 10px 10px grey;
}
.top{
  
}